<header class="header">
  <h1 class="text-2xl text-white font-medium" routerLink="">Mi Tiendita 🏪</h1>


  <div class="md:hidden">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="text-white">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      @for (item of menuItems; track $index) {
        @if (token) {
          @if (item.logged) {
            <a mat-menu-item [routerLink]="item.routerLink">{{item.name}}</a>
          }
        }
        @else {
          @if (!item.logged) {
            <a mat-menu-item [routerLink]="item.routerLink">{{item.name}}</a>
          }
        }
      }
    </mat-menu>
  </div>

  <div class="md:block hidden">
    <ul class="flex text-white gap-4">
      @for (item of menuItems; track $index) {
        @if (token) {
          @if (item.logged) {
            <li class="menu-link" [routerLink]="item.routerLink">{{item.name}}</li>
          }
        }
        @else {
          @if (!item.logged) {
            <li class="menu-link" [routerLink]="item.routerLink">{{item.name}}</li>
          }
        }
      }
    </ul>
  </div>
</header>